.company {
  width: 100%;
  max-width: 800px;

  .company__header {
    display: flex;
    justify-content: space-between;
  }

  .company__table {
    height: 90vh;
    overflow-y: auto;
  }

  .company__table-row {
    width: 100%;
    display: grid;
    grid-template-columns: 50px 1fr 2fr;
    margin-top: 10px;
    border-bottom: 1px solid #ddd;
  }

  .company__name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
